.articles {
  background-color: $veryLightGray;
}

.article {
  &__grid {
    display: grid;
    gap: 2rem;
    // One line for all media queries
    // grid-template-columns: repeat(auto-fit, minmax(14.375rem, 1fr));

    grid-template-columns: 1fr;

    @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    background-color: $white;
    border-radius: 0.3rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
    transition: all 0.15s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__image {
    height: 12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__text {
    color: $grayishBlue;
    padding: 1.875rem 1.875rem 2.5rem 1.875rem;

    @include breakpoint-up(medium) {
      padding: 1.875rem 1.5625rem;
    }
  }

  &__author {
    font-size: 0.6875rem;
    margin-bottom: 0.6rem;
  }

  &__title {
    line-height: 1.2;
    color: $darkBlue;
    font-size: 1.0625rem;
    margin-bottom: 0.6rem;
  }

  &__description {
    line-height: 1.2;
    font-size: $font-sm;
  }
}
